.BetGroup {
    width: 100%;
}

.BetGroup__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;

}

.BetGroup__matches {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}